.footer {
  background: $background-color;
  color: $text-color;
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;
}
.footer a {
  color: $text-color;
  padding: 0px 10px 0px;
  text-decoration: none;
  transition-duration: .5s;
}
.footer a:hover {
  color: $accent-color;
}
@media (max-width: $container-width) {
  .footer {
    background: $background-color;
    color: $text-color;
    text-align: center;
    min-height: 56px;
    line-height: 45px;
    width: 95vw;
  }
}
