$icon-transition-time: .3s;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;

@mixin social-media-icon($color){
  
}

.fa-envelope {
  padding: 5px;
  @include social-media-icon($envelope-color);
}

.fa-twitter {
  padding: 5px;
  @include social-media-icon($twitter-color);
}

.fa-instagram {
  padding: 5px;
  @include social-media-icon($instagram-color);
}

.fa-github {
  padding: 5px;
  @include social-media-icon($github-color);
}

.fa-linkedin {
  padding: 5px;
  @include social-media-icon($linkedin-color);
}

.fa-facebook {
  padding: 5px;
  @include social-media-icon($facebook-color);
}

.fa-google-plus {
  padding: 5px;
  @include social-media-icon($google-color);
}

.fa-pinterest {
  padding: 5px;
  @include social-media-icon($pinterest-color);
}

.fa-medium {
  padding: 5px;
  @include social-media-icon($medium-color);
}

.fa-codepen {
  padding: 5px;
  @include social-media-icon($codepen-color);
}

.fa-rss-square {
  padding: 5px;
  @include social-media-icon($rss-color);
}
